<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="notification">
      <h2 data-cy="notificationDetailsHeading">
        <span jhiTranslate="gatewayApp.notificationServiceNotification.detail.title">Notification</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.notificationServiceNotification.id">Id</span></dt>
        <dd>
          <span>{{ notification.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificationServiceNotification.userId">User Id</span></dt>
        <dd>
          <span>{{ notification.userId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificationServiceNotification.description">Description</span></dt>
        <dd>
          <span>{{ notification.description }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificationServiceNotification.isShow">Is Show</span></dt>
        <dd>
          <span>{{ notification.isShow }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificationServiceNotification.createdBy">Created By</span></dt>
        <dd>
          <span>{{ notification.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificationServiceNotification.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ notification.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificationServiceNotification.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ notification.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificationServiceNotification.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
          <span>{{ notification.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notificationServiceNotification.recordStatusId">Record Status Id</span></dt>
        <dd>
          <span>{{ notification.recordStatusId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/notification', notification.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
