<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-user-expense-heading"
        data-cy="UserExpenseCreateUpdateHeading"
        jhiTranslate="gatewayApp.expenseServiceUserExpense.home.createOrEditLabel"
      >
        Create or edit a User Expense
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)"></div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('date')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
              >This field should be a date and time.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.category" for="field_category">Category</label>
          <input type="text" class="form-control" name="category" id="field_category" data-cy="category" formControlName="category" />
          <div *ngIf="editForm.get('category')!.invalid && (editForm.get('category')!.dirty || editForm.get('category')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('category')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('category')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
              >This field cannot be longer than 50 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.total" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
          <div *ngIf="editForm.get('total')!.invalid && (editForm.get('total')!.dirty || editForm.get('total')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('total')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('total')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
              >This field should be at least 0.</small
            >
            <small class="form-text text-danger" [hidden]="!editForm.get('total')?.errors?.number" jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.evidence" for="field_evidence">Evidence</label>
          <input type="text" class="form-control" name="evidence" id="field_evidence" data-cy="evidence" formControlName="evidence" />
          <div *ngIf="editForm.get('evidence')!.invalid && (editForm.get('evidence')!.dirty || editForm.get('evidence')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('evidence')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('evidence')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
              >This field cannot be longer than 100 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.exchangeRate" for="field_exchangeRate"
            >Exchange Rate</label
          >
          <input
            type="number"
            class="form-control"
            name="exchangeRate"
            id="field_exchangeRate"
            data-cy="exchangeRate"
            formControlName="exchangeRate"
          />
          <div
            *ngIf="editForm.get('exchangeRate')!.invalid && (editForm.get('exchangeRate')!.dirty || editForm.get('exchangeRate')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('exchangeRate')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
              >This field should be at least 0.</small
            >
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('exchangeRate')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.acceptedTotal" for="field_acceptedTotal"
            >Accepted Total</label
          >
          <input
            type="number"
            class="form-control"
            name="acceptedTotal"
            id="field_acceptedTotal"
            data-cy="acceptedTotal"
            formControlName="acceptedTotal"
          />
          <div
            *ngIf="
              editForm.get('acceptedTotal')!.invalid && (editForm.get('acceptedTotal')!.dirty || editForm.get('acceptedTotal')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('acceptedTotal')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
              >This field should be at least 0.</small
            >
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('acceptedTotal')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">{{ 'gatewayApp.Status.' + status | translate }}</option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.createdDate" for="field_createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
              >This field should be a date and time.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.lastModifiedDate" for="field_lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.recordStatusId" for="field_recordStatusId"
            >Record Status Id</label
          >
          <input
            type="number"
            class="form-control"
            name="recordStatusId"
            id="field_recordStatusId"
            data-cy="recordStatusId"
            formControlName="recordStatusId"
          />
          <div
            *ngIf="
              editForm.get('recordStatusId')!.invalid && (editForm.get('recordStatusId')!.dirty || editForm.get('recordStatusId')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('recordStatusId')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('recordStatusId')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdBy')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdBy')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
              >This field cannot be longer than 50 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
          <div
            *ngIf="
              editForm.get('lastModifiedBy')!.invalid && (editForm.get('lastModifiedBy')!.dirty || editForm.get('lastModifiedBy')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastModifiedBy')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
              >This field cannot be longer than 50 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceUserExpense.employee2" for="field_employee2">Employee 2</label>
          <select
            class="form-control"
            id="field_employee2"
            data-cy="employee2"
            name="employee2"
            formControlName="employee2"
            [compareWith]="compareEmployee2"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="employee2Option" *ngFor="let employee2Option of employee2sSharedCollection">{{ employee2Option.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
