<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-category-heading"
        data-cy="CategoryCreateUpdateHeading"
        jhiTranslate="gatewayApp.expenseServiceCategory.home.createOrEditLabel"
      >
        Create or edit a Category
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceCategory.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)"></div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceCategory.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
              >This field cannot be longer than 50 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceCategory.maxIdr" for="field_maxIdr">Max Idr</label>
          <input type="number" class="form-control" name="maxIdr" id="field_maxIdr" data-cy="maxIdr" formControlName="maxIdr" />
          <div *ngIf="editForm.get('maxIdr')!.invalid && (editForm.get('maxIdr')!.dirty || editForm.get('maxIdr')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('maxIdr')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('maxIdr')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
              >This field should be at least 0.</small
            >
            <small class="form-text text-danger" [hidden]="!editForm.get('maxIdr')?.errors?.number" jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceCategory.maxAud" for="field_maxAud">Max Aud</label>
          <input type="number" class="form-control" name="maxAud" id="field_maxAud" data-cy="maxAud" formControlName="maxAud" />
          <div *ngIf="editForm.get('maxAud')!.invalid && (editForm.get('maxAud')!.dirty || editForm.get('maxAud')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('maxAud')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('maxAud')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
              >This field should be at least 0.</small
            >
            <small class="form-text text-danger" [hidden]="!editForm.get('maxAud')?.errors?.number" jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceCategory.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdBy')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdBy')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
              >This field cannot be longer than 50 characters.</small
            >
          </div>
        </div>



<!--        <div class="mb-3">-->
<!--          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceCategory.createdDate" for="field_createdDate"-->
<!--            >Created Date</label-->
<!--          >-->
<!--          <div class="d-flex">-->
<!--            <input-->
<!--              id="field_createdDate"-->
<!--              data-cy="createdDate"-->
<!--              type="datetime-local"-->
<!--              class="form-control"-->
<!--              name="createdDate"-->
<!--              formControlName="createdDate"-->
<!--              placeholder="YYYY-MM-DD HH:mm"-->
<!--            />-->
<!--          </div>-->
<!--          <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">-->
<!--            <small-->
<!--              class="form-text text-danger"-->
<!--              *ngIf="editForm.get('createdDate')?.errors?.required"-->
<!--              jhiTranslate="entity.validation.required"-->
<!--              >This field is required.</small-->
<!--            >-->
<!--            <small-->
<!--              class="form-text text-danger"-->
<!--              [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"-->
<!--              jhiTranslate="entity.validation.datetimelocal"-->
<!--              >This field should be a date and time.</small-->
<!--            >-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceCategory.lastModifiedBy" for="field_lastModifiedBy"-->
<!--            >Last Modified By</label-->
<!--          >-->
<!--          <input-->
<!--            type="text"-->
<!--            class="form-control"-->
<!--            name="lastModifiedBy"-->
<!--            id="field_lastModifiedBy"-->
<!--            data-cy="lastModifiedBy"-->
<!--            formControlName="lastModifiedBy"-->
<!--          />-->
<!--          <div-->
<!--            *ngIf="-->
<!--              editForm.get('lastModifiedBy')!.invalid && (editForm.get('lastModifiedBy')!.dirty || editForm.get('lastModifiedBy')!.touched)-->
<!--            "-->
<!--          >-->
<!--            <small-->
<!--              class="form-text text-danger"-->
<!--              *ngIf="editForm.get('lastModifiedBy')?.errors?.maxlength"-->
<!--              jhiTranslate="entity.validation.maxlength"-->
<!--              [translateValues]="{ max: 50 }"-->
<!--              >This field cannot be longer than 50 characters.</small-->
<!--            >-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceCategory.lastModifiedDate" for="field_lastModifiedDate"-->
<!--            >Last Modified Date</label-->
<!--          >-->
<!--          <div class="d-flex">-->
<!--            <input-->
<!--              id="field_lastModifiedDate"-->
<!--              data-cy="lastModifiedDate"-->
<!--              type="datetime-local"-->
<!--              class="form-control"-->
<!--              name="lastModifiedDate"-->
<!--              formControlName="lastModifiedDate"-->
<!--              placeholder="YYYY-MM-DD HH:mm"-->
<!--            />-->
<!--          </div>-->
<!--        </div>-->

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.expenseServiceCategory.recordStatusId" for="field_recordStatusId"
            >Record Status Id</label
          >
          <input
            type="number"
            class="form-control"
            name="recordStatusId"
            id="field_recordStatusId"
            data-cy="recordStatusId"
            formControlName="recordStatusId"
          />
          <div
            *ngIf="
              editForm.get('recordStatusId')!.invalid && (editForm.get('recordStatusId')!.dirty || editForm.get('recordStatusId')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('recordStatusId')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('recordStatusId')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
